* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::selection {
    color: var(--primary-color);
    background-color: var(--body-bg);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    width: 90% !important;
    max-width: 1440px !important;
    margin: 0 auto;
}


/* Top Header Start */

.horizontal-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    padding: 0;
}
.horizontal-list li {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: all 0.5s ease-in-out;
}
.horizontal-list li svg {
    color: var(--heading-color);
}
.horizontal-list li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}
.horizontal-list li:hover a {
    color: var(--heading-color);
}
.horizontal-list .social-list {
    column-gap: 0.8rem;
}
.horizontal-list .social-list svg {
    width: auto;
    height: 18px;
    transition: all 0.5s ease-in-out;
}
.horizontal-list .social-list svg:hover {
    color: var(--primary-color);
    transform: scale(1.04);
}



/* Middle Header Start */
.navbar-brand img {
    width: 100%;
    max-width: 128px;
    height: auto;
    object-fit: contain;
}
.middle-header form.search-form {
    display: flex;
    width: 100%;
    max-width: 738px;
    height: 52px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--body-bg);
    overflow: hidden;
}
.middle-header .search-form .form-select {
    position: relative;
    background-image: url('../images/select-arrow.png') !important;
    background-position: calc(100% - 10px) 50% !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border-width: 0px;
    background: transparent;
    font-size: 15px;
    padding: 0px 13px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}
.search-form .form-select:focus-visible,
.middle-header form.search-form input.form-control:focus-visible,
.search-form .form-select:focus,
.middle-header form.search-form input.form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.middle-header form.search-form input.form-control {
    border-radius: 0px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    text-overflow: ellipsis;
}
.middle-header .search-form .select-box {
    position: relative;
    width: 100%;
    max-width: 190px;
}
.middle-header .search-form .select-box::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 50%;
    background: #ccc;
    transform: translateY(-50%);
}
.btn-search {
    background-color: var(--heading-color);
    border: none;
}
.btn-search svg {
    font-size: 22px;
    color: var(--body-bg);
}
.header__language {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.header__language::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 60%;
    background-color: #ccc;
    transform: translateY(-50%);
}
.header__language .select_language {
    border: none;
    font-size: 17px;
    width: max-content;
    cursor: pointer;
}
.header__language .select_language option {
    cursor: pointer;
}
*:focus,
*:focus-visible,
body .form-select:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.header__Icons ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 0;
}
.header__Icons ul li svg {
    width: 22px;
    height: auto;
    color: var(--primary-color);
    transition: all 0.5s ease-in-out;
}
.header__Icons ul li svg:hover {
    transform: scale(1.08);
}
.header__Info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header__bottom-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    background-color: var(--heading-color);
}
.header__bottom-wrap .hamburger_Icon {
    padding: 5px;
    border-radius: 2px;
    background-color: var(--body-bg);
}
.header__bottom-wrap .hamburger_Icon svg {
    width: 26px;
    height: auto;
    color: var(--heading-color);
    cursor: pointer;
}
.header_offcanvas.offcanvas.offcanvas-end {
    width: 300px;
}
.header_offcanvas .offcanvas-header {
    padding: 0;
    margin-bottom: 1rem;
}
.header_offcanvas .offcanvas-header .btn-close {
    margin: 0;
    background-color: var(--heading-color);
    filter: none;
    opacity: 1;
    border-radius: 0px;
    padding: 15px;
}
.header_offcanvas .offcanvas-body .form-control {
    border-radius: 0px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 1.7rem;
    border-width: 2px;
}
.header_offcanvas .offcanvas-body .canvas_list_Menu {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.header_offcanvas .offcanvas-body .canvas_list_Menu a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease-in-out;
}
.header_offcanvas .offcanvas-body .canvas_list_Menu a:hover {
    color: var(--heading-color);
    padding-left: 5px;
}

.header_Categories ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header_Categories ul li {
    padding: 0 16px;
}
.header_Categories ul li:not(:last-child) {
    border-right: 1px solid #ccc;
}
.header_Categories ul li a {
    position: relative;
    text-decoration: none;
    color: var(--body-bg);
    font-weight: 500;
    line-height: 1;
}
.header_Categories ul li a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--body-bg);
    transition: all 0.5s ease-in-out;
    transform: scale(0);
}
.header_Categories ul li a:hover:before {
    transform: scale(1);
}

.header__bottom-wrap .header__bottom-Inner {
    display: flex;
    align-items: center;
    gap: 2rem;
}

body .btn-light {
    color: var(--heading-color);
    background-color: var(--body-bg);
    border: 2px solid var(--body-bg);
    font-size: 14px;
    border-radius: 2px;
    padding: 10px 18px;
    transition: all 0.5s ease-in-out;
}
body .btn-light:hover {
    color: var(--body-bg);
    background-color: transparent;
    opacity: 1;
}
body .btn-light.login-btn {
    font-weight: 600;
}


/* Hero Slider Section1 */
.hero_Slider1-wrapper {
    width: 100%;
    height: 100%;
    min-height: 710px;
    padding: 100px 0px;
    background-image: url('https://html.themexriver.com/radios/assets/img/bg/hero_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_Slider1-wrapper .hero__content .subtitle {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: var(--body-bg);
    z-index: 1;
    padding: 6px 20px 6px 16px;
    clip-path: polygon(0px 0px, 100% 0px, 94.81% 100%, 0% 100%);
    display: inline-block;
    margin-bottom: 20px;
    line-height: 1.2;
}
.hero_Slider1-wrapper .hero__content .subtitle::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--heading-color);
    content: "";
    z-index: -1;
}
.hero_Slider1-wrapper .hero__content .title {
    font-size: 44px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 10px;
}
.hero_Slider1-wrapper .hero__content p {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 600;
    margin-bottom: 20px;
}
.hero_Slider1-wrapper .hero__content .price {
    font-size: 32px;
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 10px;
}
.hero_Slider1-wrapper .hero__content .price span {
    font-size: 70%;
    font-weight: 500;
}
.product__progress.progress {
    --bs-progress-bar-bg: var(--heading-color);
    border-radius: 100px;
    margin-bottom: 10px;
}
.ul_li_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.ul_li_between .product__available {
    color: var(--heading-color);
    font-weight: 500;
}
.ul_li_between .product__available span {
    color: var(--primary-color);
    font-weight: 400;
}
.hero__btn {
    text-decoration: none;
    font-size: 17px;
    color: var(--heading-color);
    font-weight: 500;
    letter-spacing: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.5s ease-in-out;
}
.hero__btn svg {
    width: 19px;
    height: 19px;
    transition: all 0.5s ease-in-out;
}
.hero__btn:hover svg {
    transform: translateX(5px);
}
.hero_Slider,
.hero_Slider .hero__product-image {
    position: relative;
    z-index: 0;
}
.hero_Slider .hero__product-image::before {
    position: absolute;
    top: -40px;
    left: 30px;
    background-color: #fff;
    content: "";
    width: 390px;
    height: 390px;
    border-radius: 50%;
    z-index: -1;
}
.hero_Slider .hero__product-image .hero__product-item img {
    width: 100%;
    max-width: 380px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.hero_Slider .hero__product-nav .slick-track .slick-slide {
    height: unset;
}
.hero_Slider .hero__product-nav .slick-track .slick-slide > div {
    height: 100%;
    width: 130px;
    max-height: 92px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
}
.hero_Slider .hero__product-nav .slick-track .slick-slide.slick-active.slick-current > div {
    border: 1px solid var(--heading-color);
}
.hero_Slider .hero__product-nav .hero__product-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}
.slick-slider.hero__product-nav.slick-initialized {
    max-width: 410px;
    margin: auto;
    margin-top: 50px;
    z-index: 1;
}
.hero__product-offer {
    position: absolute;
    left: 36px;
    width: 75px;
    height: 75px;
    background-color: var(--heading-color);
    bottom: 37%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    z-index: 2;
}
.hero__product-offer .discount {
    font-size: 24px;
}
.hero__product-offer span {
    font-size: 15px;
    color: currentColor;
}
.top_Product-box {
    padding: 30px;
    border-radius: 5px;
    border: 2px solid var(--heading-color);
    background-color: #fff  ;
}
.top_Product-box .top_Product-Head {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    text-transform: capitalize;
}
.top_Product-box .top_Product-Head span {
    position: relative;
    color: currentColor;
}
.top_Product-box .top_Product-Head span::before {
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    content: "";
    background-color: var(--heading-color);
    height: 1px;
}
ul.rating-star {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: var(--heading-color);
    margin-bottom: 0px;
}
.hot-deal__slide .deal_slide-content {
    text-align: center;
}
.hot-deal__slide .deal_slide-content .product_title {
    line-height: 1;
}
.hot-deal__slide .deal_slide-content .product_title a {
    text-decoration: none;
    font-size: 23px;
    color: var(--primary-color);
}
.hot-deal__slide .deal_slide-content .product__price {
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin: 18px 0px;
}
.hot-deal__slide .deal_slide-content .product__price .old {
    text-decoration: line-through;
    color: #999797;
}
.hot-deal__slide .slick-arrow {
    width: max-content;
    height: max-content;
    top: -42px;
    right: 0;
    left: auto;
    transition: all 0.3s ease-in-out;
}
.hot-deal__slide .slick-arrow.slick-prev {
    right: 20px;
}
.hot-deal__slide .slick-arrow::before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    transform: rotate(45deg);
    border-left: 2px solid #D3CACA;
    border-bottom: 2px solid #D3CACA;
    transition: all 0.3s ease-in-out;
}
.hot-deal__slide .slick-arrow.slick-next::before {
    border-right: 2px solid #D3CACA;
    border-top: 2px solid #D3CACA;
    border-left-width: 0px;
    border-bottom-width: 0px;
}
.hot-deal__slide .slick-arrow:hover::before {
    border-color: var(--primary-color);
}
.hot-deal__slide .deal_slide-item {
    position: relative;
}
.hot-deal__slide .deal_slide-item .deal_slide-thumb {
    padding: 30px 15px;
}
.hot-deal__slide .deal_slide-item .deal_slide-thumb img {
    width: 100%;
}


/* Shipping Section */
.shipping_Info1 {
    padding: 50px 0px;
}
.shipping_Row1 {
    display: grid;
    grid-template-columns: repeat(6, 20%);
}
.shipping_Row1 .shipping_Item1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #e5e5e5;
    padding: 30px 18px;
    margin-top: -1px;
    margin-right: -1px;
}
.shipping_Row1 .shipping_Item1 .shipping_Icon1 {
    width: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shipping_Row1 .shipping_Item1 .shipping_Content {
    width: auto;
}
.shipping_Row1 .shipping_Item1 .shipping_Content h3 {
    font-size: 18px;
    font-weight: 500;
}
.shipping_Row1 .shipping_Item1 .shipping_Content p {
    font-size: 14px;
    color: #5f5d5d;
    margin: 0px;
}



.new_Arrivel1 {
    padding: 20px 0px 40px;
}
.new_Arrivel1 .product_Nav-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 28px;
}
.section_Heading {
    font-size: 26px;
    color: var(--primary-color);
    text-transform: capitalize;
}
.section_Heading > span {
    position: relative;
    color: currentColor;
}
.section_Heading > span::before {
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    content: "";
    background-color: var(--heading-color);
    height: 1px;
}
.section_Heading > span span {
    color: var(--heading-color);
}
.new_Arrivel1 .product_Nav-wrap .product_Nav {
    flex-grow: 1;
    justify-content: center;
    gap: 0.5rem;
}
.new_Arrivel1 .product_Nav-wrap .product_Nav .nav-item a {
    text-decoration: none;
    font-size: 17px;
    color: var(--primary-color);
    padding: 8px 28px;
    background-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #e5e5e5;
    border-bottom-width: 0px;
}
.new_Arrivel1 .product_Nav-wrap .product_Nav .nav-item a:hover,
.new_Arrivel1 .product_Nav-wrap .product_Nav .nav-item a.active {
    color: var(--body-bg);
    border-color: var(--heading-color);
    background-color: var(--heading-color);
}


.vd_Products .hot-deal__slide .deal_slide-content .product_title {
    line-height: 0.8;
}
.vd_Products .hot-deal__slide .deal_slide-content .product_title a {
    font-size: 15px;
}
.vd_Products ul.rating-star {
    margin-bottom: 8px;
}
.vd_Products ul.rating-star li {
    line-height: 1;
    font-size: 15px;
}
.vd_Products ul.rating-star li:last-child {
    padding-top: 4px;
}
.vd_Products .hot-deal__slide .deal_slide-content .product__price {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0px;
    gap: 0.4rem;
}
.vd_Products .hot-deal__slide .deal_slide-item .deal_slide-thumb {
    width: 100%;
    height: 200px;
}
.vd_Products .hot-deal__slide .deal_slide-item .deal_slide-thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.8s ease-in-out;
}
.vd_Products .tab-content .slick-track .slick-slide .deal_slide-item {
    padding: 30px 20px 0;
    transition: all 0.8s ease-in-out;
}
.vd_Products .tab-content .slick-track .slick-slide:hover .deal_slide-thumb img {
    transform: scale(1.08);
}
.vd_Products .tab-content .slick-track .slick-slide.slick-active:not(:last-child) .deal_slide-item {
    border-right: 1px solid #e5e5e5;
}
.vd_Products_tab-content 
.slick-track 
.slick-slide.slick-active:not(.slick-cloned):last-of-type {
    border-right: none !important;
}
.vd_Products .hot-deal__slide .slick-arrow {
    top: -48px;
}
.badge-skew {
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 14px;
    z-index: 1;
    padding: 4px 12px 5px;
    display: inline-block;
    line-height: 1;
    color: var(--body-bg);
}
.badge-skew::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--heading-color);
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
}
ul.product__action {
    position: absolute;
    right: 15px;
    top: 10px;
    list-style: none;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}
ul.product__action li {
    transform: translateY(8px);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
ul.product__action li:nth-child(2) {
    transition-delay: .1s;
}
ul.product__action li:nth-child(3) {
    transition-delay: .2s;
}
ul.product__action li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--heading-color);
    background-color: #fff;
    transition: 0.3s;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
    transition: all 0.5s ease-in-out;
}
ul.product__action li a:hover {
    color: var(--body-bg);
    background-color: var(--heading-color);
}
ul.product__action li a svg {
    font-size: 18px;
}
.vd_Products .deal_slide-item:hover .product__action li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}



.product-category {
    padding: 40px 28px 50px 40px;
    background-image: url('https://html.themexriver.com/radios/assets/img/bg/cat_bg.jpg');
    background-color: #f8f7f5;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-heading {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    text-transform: capitalize;
}
.section-heading > span {
    position: relative;
    color: currentColor;
}
.section-heading > span::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    content: "";
    background-color: var(--heading-color);
    height: 1px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.product-category ul li {
    position: relative;
}
.product-category ul li:not(:last-child) {
    margin-bottom: 32px;
}
.product-category ul li a {
    display: block;
    text-decoration: none;
    font-size: 17px;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}
.product-category ul li a img {
    width: 25px;
    margin-right: 30px;
}
.product-category ul li.cat-item-has-children a::before {
    content: "";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 9px;
    transition: 0.3s;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
}
.product-category ul li a:hover {
    color: var(--heading-color);
}
.product-category ul li.cat-item-has-children a:hover::before {
    right: 0;
    border-color: var(--heading-color);
}
.product-category ul li.more-item a {
    font-size: 18px;
    color: var(--heading-color);
    font-weight: 500;
    text-align: center;
}
.rd-slide-products {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 30px;
}
.rd-slide-products .badge-skew {
    top: 12px;
    left: 6px;
}
.ct_Slider-product {
    padding: 30px 0px 100px;
}
.ct_Slider-product ul.product__action li a {
    width: 34px;
    height: 34px;
}
.ct_Slider-product ul.product__action li a svg {
    font-size: 15px;
}
.ct_Slider-product.vd_Products .hot-deal__slide .deal_slide-content .product_title a {
    font-size: 14px;
}
.hot-deal__slide .deal_slide-item:hover .deal_slide-thumb img {
    transform: scale(1.08);
}


.smart_Product .hot-deal__slide .deal_slide-content {
    text-align: left;
}
.smart_Product .vd_Products ul.rating-star,
.smart_Product .vd_Products .hot-deal__slide .deal_slide-content .product__price {
    justify-content: flex-start;
}
.smart_Product .badge-skew::before {
    transform: none;
    border-radius: 100px;
}
.smart_Product.new_Arrivel1 .product_Nav-wrap .product_Nav {
    justify-content: flex-end;
}