* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    width: 90% !important;
    max-width: 1440px !important;
    margin: 0 auto;
}


/* Top Header Start */

.horizontal-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    padding: 0;
}
.horizontal-list li {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: all 0.5s ease-in-out;
}
.horizontal-list li svg {
    color: var(--heading-color);
}
.horizontal-list li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}
.horizontal-list li:hover a {
    color: var(--heading-color);
}
.horizontal-list .social-list {
    column-gap: 0.8rem;
}
.horizontal-list .social-list svg {
    width: auto;
    height: 18px;
    transition: all 0.5s ease-in-out;
}
.horizontal-list .social-list svg:hover {
    color: var(--primary-color);
    transform: scale(1.04);
}



/* Middle Header Start */
.middle-header form.search-form {
    display: flex;
    width: 100%;
    max-width: 738px;
    height: 52px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--body-bg);
    overflow: hidden;
}
.middle-header .search-form .form-select {
    position: relative;
    background-image: url('../images/select-arrow.png') !important;
    background-position: calc(100% - 10px) 50% !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border-width: 0px;
    background: transparent;
    font-size: 15px;
    padding: 0px 13px;
    text-transform: capitalize;
    font-weight: 500;
}
.search-form .form-select:focus-visible,
.middle-header form.search-form input.form-control:focus-visible,
.search-form .form-select:focus,
.middle-header form.search-form input.form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.middle-header form.search-form input.form-control {
    border-radius: 0px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    text-overflow: ellipsis;
}
.middle-header .search-form .select-box {
    position: relative;
    width: 100%;
    max-width: 190px;
}
.middle-header .search-form .select-box::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 50%;
    background: #ccc;
    transform: translateY(-50%);
}
.btn-search {
    background-color: var(--heading-color);
    border: none;
}
.btn-search svg {
    font-size: 22px;
    color: var(--body-bg);
}
.header__language {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.header__language::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 60%;
    background-color: #ccc;
    transform: translateY(-50%);
}
.header__language .select_language {
    border: none;
    font-size: 17px;
    width: max-content;
}
*:focus,
*:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}
.header__Icons ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 0;
}
.header__Icons ul li svg {
    width: 22px;
    height: auto;
    color: var(--primary-color);
}
.header__Info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header__bottom-wrap {
    width: 100%;
    height: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--heading-color);
}
.header__bottom-wrap .hamburger_Icon svg {
    width: 30px;
    height: auto;
    color: var(--body-bg);
    cursor: pointer;
}
.header_offcanvas.offcanvas.offcanvas-end {
    width: 300px;
}
.header_offcanvas .offcanvas-header {
    padding: 0;
    margin-bottom: 1rem;
}
.header_offcanvas .offcanvas-header .btn-close {
    margin: 0;
    background-color: var(--heading-color);
    filter: none;
    opacity: 1;
    border-radius: 0px;
    padding: 15px;
}
.header_offcanvas .offcanvas-body .form-control {
    border-radius: 0px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 1.7rem;
    border-width: 2px;
}
.header_offcanvas .offcanvas-body .canvas_list_Menu {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.header_offcanvas .offcanvas-body .canvas_list_Menu a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease-in-out;
}
.header_offcanvas .offcanvas-body .canvas_list_Menu a:hover {
    color: var(--heading-color);
    padding-left: 5px;
}